doctype html
html(lang="en")
  head
    title Contour
    if compileDebug
      script(src="//localhost:9091/livereload.js")
      script(src="../vendor/system.js")
      script(src="../jspm.js")
      script.
        System.import('assets/scripts/main.js');
    else
      script(src="#{locals['dist/main.js'].substr(5)}")

    link(rel="stylesheet",href="#{locals['dist/main.css'].substr(5)}")
  body
